# SPDX-License-Identifier: PMPL-1.0
# SPDX-FileCopyrightText: 2025 Hyperpolymath

# Safe Math
export(safe_add)
export(safe_sub)
export(safe_mul)
export(safe_div)
export(safe_mod)
export(safe_abs)
export(safe_neg)
export(safe_pow)
export(safe_sum)
export(safe_product)
export(clamp)
export(in_range)

# Safe String
export(escape_html)
export(escape_sql)
export(escape_js)
export(url_encode)
export(url_decode)
export(sanitize)
export(sanitize_default)
export(slugify)
export(truncate)
export(strip_control_chars)
export(normalize_whitespace)
export(is_ascii_only)
export(is_printable_ascii)
export(base64_encode)
export(base64_decode)
export(hex_encode)
export(hex_decode)

# Safe Path
export(has_traversal)
export(sanitize_filename)
export(path_join)
export(resolve_within)
export(get_extension)
export(extension_allowed)
export(normalize_separators)
export(is_absolute)
export(is_relative)
export(get_parent)
export(get_filename)
export(is_hidden)

# Safe Email
export(is_valid_email)
export(parse_email)
export(is_disposable_email)
export(normalize_email)
export(get_email_domain)
export(get_local_part)
export(mask_email)
export(emails_equal)

# Safe Network
export(parse_ipv4)
export(format_ipv4)
export(ipv4_to_int)
export(is_loopback)
export(is_private_ip)
export(is_reserved)
export(is_public_ip)
export(classify_ip)
export(classify_ip_string)
export(ip_in_range)
export(is_valid_ipv4)
export(is_valid_port)
export(is_privileged_port)
export(is_valid_hostname)
export(is_valid_url)
export(is_private_url)

# Safe Crypto
export(constant_time_equals)
export(constant_time_equals_string)
export(random_bytes)
export(bytes_to_hex)
export(random_hex)
export(random_base64)
export(random_url_safe)
export(random_int)
export(generate_token)
export(generate_token_default)
export(sha256_hash)
export(sha256_hash_bytes)
export(sha512_hash)
export(sha512_hash_bytes)
export(hmac_sha256)
export(hmac_sha256_bytes)
export(hmac_sha512)
export(verify_hmac_sha256)
export(verify_hmac_sha512)
export(md5_hash)
export(generate_password)
export(generate_password_default)
export(secure_wipe)

# Constants
export(IP_LOOPBACK)
export(IP_PRIVATE)
export(IP_RESERVED)
export(IP_PUBLIC)
export(IP_INVALID)

# Import from other packages
importFrom(openssl, sha256, sha512, md5, rand_bytes)
importFrom(base64enc, base64encode, base64decode)
